@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  background: linear-gradient(180deg, #AF68EA, #7B64E8);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #1E1E36;
  font-family: 'M PLUS 2', sans-serif;
  font-size: 1.6rem;
  display: grid;
  place-items: center;
}

.container {
  margin: 2rem;
  padding: 5rem;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3rem;
}